<div class="a">
    <h1>MR/Puhulwella National College</h1>
</div>

<div class="z"><img src="assets/p.jpeg" width="300px" height="300px"></div>

<p>Puhulwella Central College is a Public school located in Sri Lanka. It is one of the 162 Public schools in Sri Lanka. Address <br>of Puhulwella Central College is B275, Sri Lanka. Puhulwella Central College can be contacted at 94412286601. Puhulwella <br>Central College is located in a busy area and we are covering at least 9999 places around it on Srilanka-Places.com.<br> Puhulwella Central College is rated 5 (out of 5 stars) by 12 reviewers on the web.</p>
<p>The Advanced Level Art stream was started in 1963 and the school was upgraded as a Maha vidyalaya. Later in 1998 <br>the school was promoted to Madya Maha vidyalaya. During the former principal R.W.Gamage’s era,</p>
