<table>
<tr>
 <td>   
<div class="p">
<br><br><p>Puhulwella Madya Maha Vidyalaya inaugurated in 1874 as a small hut. It has gone through a long life span of 138 years. Today it</p>
<p>nurtures more than 1350 students and has developed into a massive structure giving strength to the entire Puhulwella village.
Puhulwella M.M.V in the Southern Coastal city of Matara is situated close to Kirinda Town. The school was initiated by then Principal Simian Abeywardena Wickramasinghe who can also be branded as the man who had donated the premises to the school.</p>
</div> </td>
<td>
    <div class="u">
        <h2>Our School History</h2>
    </div>
</td>
</tr>

</table>
<div class="o"><br><br>
<p>This tiny village school was first considered as Government Boys School, Puhuwella and later was converted to a mixed school in 1964.</p>
<p>The Advanced Level Art stream was started in 1963 and the school was upgraded as a Maha vidyalaya. Later in 1998 the school was promoted to Madya Maha vidyalaya. During the former principal R.W.Gamage’s era,the school was recognized as a constructive village school in the Matara District.</p>
</div>



<div class="r"><br><br>
    <p>W. Hewavitharana, the present principal, assumed duties as the 18th Principal of Puhulwella M.M.V. He serves the institution steadfastly. He is assisted by Deputy Principals Mr.U.A.Wickramasinghe, Mr.R.A.M.Gunawardena, M.R.D.A.A.Yapa and the Vice principals U.P.Dias and Mrs. W. Kusuma who keep a close watch over the activities of the school. The noteworthy feature of the school is that most of the staff members are old students of Puhulwella MMV which amounts to 83.</p>
</div>

