

<h1>Apply for Library Membership</h1>
<div class="y"></div><br>
<div class="u"></div><br>
<div class="i"></div><br>
<div class="o"></div><br>
<div class="p"></div><br>

<div class="q"><br><br>
  <div class="e"><h3>Register Form</h3></div>
    <form action="/action_page.php">
      Name :<input type="text" name="text" id="name"><br><br>
      User Name :<input type="email"name="text" id="email"><br><br>
      Password :<input type="password"name="text" id="password"><br><br>
      Age :<input type="age" name="text" id="Age"><br><br>
      Grade :<select>
        <option>grade 6</option>
        <option>grade 7</option> 
        <option>grade 8</option>
          <option>grade 9</option>
          <option>grade 10</option> 
          <option>grade 11</option>
          <option>GCE O/L</option>
          <option>GCE A/L</option>
      </select><br><br>
      Gender :
      <input type="radio" name="gender">Male<input type="radio"  name="gender">Female
      <br><br>
      <input type="submit" name="submit" value="Submit">
      <input type="reset" name="reset" value="Reset">
      </form>
</div>
